html{
  font-size:16px;
}
html,body{
  width:100%;
  height:100%;
}
.sex{
  width:100%;
  height:100%;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  .sex_section{
    width:100%;
    height:100%;
    -webkit-box-flex:1;
    background:url("../img/bg.png")no-repeat;
    background-size:cover;
    .sex_wrap{
        width:95%;
        height:7.2rem;
        margin-left:5%;
        background:url("../img/sex_bg.png")no-repeat;
        background-size:cover;
        position:relative;
        .cai{
          display:block;
          width:1.82rem;
          position:absolute;
          left:-.6rem;
          bottom:-.5rem;
          img{
              width:100%;
            height:100%;
          }
      }
      //性别
      .sex_cont{
        width:90%;
        height:100%;
        h2{
          color:#B00600;
          width:100%;
          text-align:center;
          line-height:1.74rem;
          font-size:.35rem;
        }
        .choice_sex{
            width:80%;
            margin:auto;
            ul{
              width:100%;
              display:-webkit-box;
              li{
                width:50%;
                -webkit-box-flex:1;
                i{
                  display:block;
                  width:100%;
                  height:1.64rem;
                  img{
                    width:60%;
                    height:100%;
                    margin:0 20%;
                  }
                }
                i.sex_man{
                  border-right:1px solid #5C3D02;
                }
                span{
                  display:block;
                  text-align:center;
                  line-height:.86rem;
                  font-size:16px;
                }
                p{
                  position:relative;
                }
                input{
                  opacity: 0;
                  position:absolute;
                  left:50%;
                  margin-left:-.17rem;
                  width:.34rem;
                  height:.34rem;
                }
                label{
                  display:block;
                  width:.34rem;
                  height:.34rem;
                  background:url("../img/ra.gif")no-repeat;
                  background-size:cover;
                  position:absolute;
                  left:50%;
                  margin-left:-.17rem;
                }
                input[type="radio"]:checked+label{
                  display:block;
                  width:.34rem;
                  height:.34rem;
                  background:url("../img/la.gif")no-repeat;
                  background-size:cover;
                  position:absolute;
                  left:50%;
                  margin-left:-.17rem;
                }
              }
            }
        }
        .go-medical{
          display:block;
          width:2.35rem;
          height:1.05rem;
          position:absolute;
          left:50%;
          margin-left:-1.17rem;
          margin-top:1rem;
          img{
            width:100%;
            height:100%;
          }
        }
      }
      //有无病史


      //不喜欢的食物
      .hate_food{
        width:90%;
        height:100%;
        h2{
          color:#B00600;
          width:100%;
          text-align:center;
          line-height:1.74rem;
          font-size:.35rem;
        }
        .hate_wrap{
          ul{
            display:-webkit-flex;
            -webkit-flex-wrap:wrap;
             li{
                  width:50%;
                  text-align: center;
                  line-height:.64rem;
               input{
                 width:.36rem;
                 height:.36rem;
                 display: inline-block;
               }
                 label{
                   background:url("../img/ck.gif")no-repeat;
                   background-size:cover;
                   width:.36rem;
                   height:.36rem;
                   display:inline-block;

                 }
                 input:checked+label{
                   display:inline-block;
                   background:url("../img/lab.gif")no-repeat;
                   background-size:cover;
                 }
             }
          }
        }
        .go-test{
          display:block;
          width:2.35rem;
          height:1.05rem;
          position:absolute;
          left:50%;
          margin-left:-1.17rem;
          margin-top:.6rem;
          img{
            width:100%;
            height:100%;
          }
        }
      }
    }
  }
}